@import "~antd/dist/antd.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.site-layout-content {
  min-height: 580px;
  padding: 24px;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  margin: 16px;
  /* background: rgba(255, 255, 255, 0.3); */
}

.header-logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 1em;
}

.header-logo {
  width: 75px;
  height: 75px;
}

.header-title {
  margin-left: 1.5rem;
  padding-top: 5px;
}

.site-layout .site-layout-background {
  background: #fff;
}

#map {
  width: 100%;
  height: 100%;
}
.ant-layout-sider-dark {
  /* background: hsl(310, 32%, 29%); */
}
.ant-menu {
  background: transparent;
  color: #a4a6b3;
}
.ant-menu-item-selected {
  /* border-left: 4px solid #dde2ff; */
}
.ant-menu-item-selected a {
  color: white !important;
}
.ant-menu-item-selected .ant-menu-item-icon {
  color: white !important;
}

.ant-menu-item-icon {
  color: #b2b2b2;
  font-size: 20px !important;
  font-weight: bold;
}

.ant-menu-item-active .ant-menu-item-icon {
  color: #fff;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  /* background-color: rgba(255, 255, 255, 0.2); */
  background-color: rgba(255, 133, 0, 0.9);
}
.ant-menu-item a {
  color: #b2b2b2;
  font-size: 16px;

  /* font-size: 1.25em; */
}

.ant-menu-item a:hover {
  color: white;
}
.ant-menu-item:hover {
  /* background-color: rgba(255, 255, 255, 0.2); */
  background-color: rgba(255, 133, 0, 0.66);
}

.mapboxgl-map {
  border-radius: 6px;
}

.overview-cards {
  /* outline: 1px solid red; */
  /* padding: 0.5em; */
  border-radius: 6px;
  border: 0.0125em solid #dfe0eb;
  transition: 0.15s all;
  text-align: center;
  color: black;
  font-size: 40px;
}

.overview-cards .ant-card-head {
  color: #9fa2b4;
  border: 0;
  padding: 0;
  font-size: 19px;
  min-height: 0;
}
.overview-cards .ant-card-head-title {
  min-height: 0;
  padding: 0;
  padding-top: 12px;
}
.overview-cards .ant-card-body {
  margin: 0;
  padding: 12px 32px 24px 32px;
  font-weight: 500;
}

.overview-cards:hover {
  box-shadow: 0 0 3pt 2pt rgba(255, 133, 0, 1);
  color: rgba(255, 133, 0, 1);
  cursor: pointer;
  /* border: 2px solid ; */
}

.overview-cards:hover .ant-card-head {
  color: rgba(255, 133, 0, 1);
}

.user-area {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 200px;
}
