@import "~antd/dist/antd.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.site-layout-content {
  min-height: 580px;
  padding: 24px;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  margin: 16px;
  /* background: rgba(255, 255, 255, 0.3); */
}

.site-layout .site-layout-background {
  background: #fff;
}

#map {
  width: 100%;
  height: 100%;
}
.ant-layout-sider-dark {
  background: hsl(310, 32%, 29%);
}
.ant-menu {
  background: transparent;
  color: #a4a6b3;
}
.ant-menu-item-selected {
  border-left: 4px solid #dde2ff;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: rgba(255, 255, 255, 0.2);
}
.ant-menu-item a {
  color: white;
}
.mapboxgl-map {
  border-radius: 6px;
}

.overview-cards {
  /* outline: 1px solid red; */
  /* padding: 0.5em; */
  border-radius: 6px;
  border: 0.0125em solid #dfe0eb;
  transition: 0.15s all;
  text-align: center;
  color: black;
  font-size: 40px;
}

.overview-cards .ant-card-head {
  color: #9fa2b4;
  border: 0;
  padding: 0;
  font-size: 19px;
  min-height: 0;
}
.overview-cards .ant-card-head-title {
  min-height: 0;
  padding: 0;
  padding-top: 12px;
}
.overview-cards .ant-card-body {
  margin: 0;
  padding: 12px 32px 24px 32px;
  font-weight: 500;
}

.overview-cards:hover {
  box-shadow: 0 0 3pt 2pt hsl(310, 80%, 29%);
  color: hsl(310, 80%, 29%);
  cursor: pointer;
  /* border: 2px solid ; */
}

.overview-cards:hover .ant-card-head {
  color: hsl(310, 80%, 29%);
}
